.NavbarItems {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  flex-direction: row;
}

.nav-links {
  display: flex;
}

.logo {
  cursor: pointer;
}
.Kyochul {
  font-size: 3rem;
  list-style-type: none;
  cursor: pointer;
  justify-content: left;
}

.menu-icon {
  display: flex;
}

.menu-titles {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
}
