.NavbarItems {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  flex-direction: row;
  height: 3rem;
  background: rgba(0, 0, 0, 0.2);
}

.nav-links {
  display: flex;
  padding: 0.5rem 5rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s;
  animation: ease-in-out;
}

.nav-links:hover {
  display: flex;
  padding: 0.5rem 5rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.212);
  background: rgba(0, 0, 0, 0.178);
  transform: matrix3d();
}

.logo {
  cursor: pointer;
}

.menu-icon {
  display: flex;
}

.menu-titles {
  display: flex;
  font-size: 1.5rem;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
