.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 20rem;
}

.Kyochul {
  font-size: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  list-style-type: none;
  cursor: pointer;
}
